@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100;

300;400;700;900&display=swap);@charset "UTF-8";
:root {
  /*╔════════════════════════════╗
            COLORS
    ╚════════════════════════════╝*/
  --clr-bg-0: rgb(0, 0, 0);
  --clr-bg-1: rgb(20, 33, 61);
  --clr-bg-2: rgb(229, 229, 229);
  /*╔════════════════════════════╗
        COMPONENT DIMENSION
  ╚════════════════════════════╝*/
  /* width */
  --wdt-container-xl: 80rem;
  /* height */
  --hgt-item: 4rem;
  --hgt-item-lg: 4.5rem;
  --hgt-item-sm: 2.5rem;
  /*╔════════════════════════════╗
              GUTTERS
  ╚════════════════════════════╝*/
  --space-unit: 1rem;
}

/*╔═══════════════╗
        RESET
  ╚═══════════════╝*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  box-sizing: border-box;
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
}

:root {
  /*╔════════════════════════════╗
       BASE SPACING
    ╚════════════════════════════╝*/
  /*╔════════════════════════════╗
          MARGIN
    ╚════════════════════════════╝*/
  --m-xxs: calc(0.125 * var(--space-unit));
  --m-xs: calc(0.25 * var(--space-unit));
  --m-sm: calc(0.5 * var(--space-unit));
  --m-md: calc(1 * var(--space-unit));
  --m-lg: calc(1.5 * var(--space-unit));
  --m-xl: calc(2.25 * var(--space-unit));
  --m-xxl: calc(3 * var(--space-unit));
  /*╔════════════════════════════╗
          PADDING
    ╚════════════════════════════╝*/
  --p-xxs: calc(0.125 * var(--space-unit));
  --p-xs: calc(0.25 * var(--space-unit));
  --p-sm: calc(0.5 * var(--space-unit));
  --p-md: calc(1 * var(--space-unit));
  --p-lg: calc(1.5 * var(--space-unit));
  --p-xl: calc(2.25 * var(--space-unit));
  --p-xxl: calc(3 * var(--space-unit));
}

body {
  font-family: "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700px;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1rem;
}

small {
  font-size: 0.6rem;
}

.container {
  max-width: var(--wdt-container-xl);
  margin: auto;
}

header {
  height: var(--hgt-item);
  background-color: var(--clr-bg-1);
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

main {
  background-color: var(--clr-bg-0);
  min-height: calc(100vh - var(--hgt-item));
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.list-film {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  min-height: calc(100vh - var(--hgt-item));
  gap: 2rem;
  align-content: center;
}

.list-film .card-list {
  width: 100%;
}

.list-film .card-list__img {
  width: 100%;
  aspect-ratio: 3/4;
}

